body{
  background: #99AAAB;
}

.App{
  /* text-align: center; */
  padding-top: 200px;
  justify-content: start;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: center;
}


button{
  color: #ffff;
  padding: 5px 25px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 300px;
  border-radius: 15px;
  background-color: #BB2CD9;
}

button:hover{
  cursor: pointer;
  background-color:#E74292;
}

.text {
	text-transform: uppercase;
	background: linear-gradient(to right, #121FCF 0%,#CF1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}